@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MONT;
    src: url(../public/fonts/Mont-ExtraLightDEMO.otf);
}


.image-container {
    width: 100%;
}
  
.image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}
